$main-font: 'Lato';
$secondary-font: 'Spectral';

.slide-container
{
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $main-font;

  .slides-container
  {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;

    .slides
    {
      position: absolute;
      top: 0;
      will-change: transform;
      transform: translateX(100vw);
      transition: 0.5s;
      width: 100vw;
      height: 100%;
    }

    .slides.slide-1
    {
      .slide-content-container
      {
        height: 100%;
        width: 100%;
        video{
          width: 100%;
        }
      }
    }

    .slides.slide-2
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: red;
      }
    }

    .slides.slide-3
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: black;
      }
    }

    .slides.slide-4
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: orange;
      }
    }

    .slides.slide-5{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: lime;
      }
    }

    .slides.slide-6{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: grey;
      }
    }

    .slides.slide-7{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: green;
      }
    }
  }

  .slides-container[data-slide="0"]
  {
    .slides:nth-child(1){transform: translateX(0px);}
    .slides:nth-child(2){transform: translateX(100vw);}
  }
  .slides-container[data-slide="1"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(0px);}
  }
  .slides-container[data-slide="2"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(0px);}
  }
  .slides-container[data-slide="3"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(0px);}
  }
  .slides-container[data-slide="4"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(0px);}
  }
  .slides-container[data-slide="5"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(-100vw);}
    .slides:nth-child(6){transform: translateX(0px);}
  }
  .slides-container[data-slide="6"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(-100vw);}
    .slides:nth-child(6){transform: translateX(-100vw);}
    .slides:nth-child(7){transform: translateX(0px);}
  }
}

footer{
  height: 10%;
  z-index: 2;
  position: relative;
  display: flex;
  background-color: white;

  .footer-title
  {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;

    h2
    {
      color: #8B8B8B;
      font-size: 14px;
      margin: 0;
    }

    h2.part
    {
      color: black;
      font-size: 18px;
    }
  }

  .footer-links
  {

    .footer-link{
      border-radius: 50%;
      transform: scale(0.8);
      border: 3px solid black;
      transition: 0.5s;
      width: 30px;
      height: 30px;

      .footer-link-inner{
        transform: scale(0);
      }
    }
  }
}

.footer-links-container[data-slide="0"]
{
  .footer-link:nth-child(1){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}

body{
  background-color: black;
}
