$main-font: 'Lato';
$secondary-font: 'Spectral';
$basic-size: 15px;
$semibig-size: 20px;
$hero-size: 70px;
$size-title: 30px;
$yellow-pale: #F6D79D;
$yellow: #F2C26A;

.slide-container
{

  .header-container
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 30px 45px;
    z-index: 10;

    .logo-container
    {
      display: inline-block;

      .logo-link
      {
        text-decoration: none;
        color: black;
        font-family: $main-font;
        color: white;
      }

        .big
        {
          font-weight: bold;
          font-size: 24px;
        }
    }

    .sound-container
    {
      float: right;
      display: inline-block;

      .sound-button
      {
        padding: 0px 0px 20px 20px;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
      }
    }
  }

  position: relative;
  height: 100%;
  width: 100%;
  font-family: $main-font;

  .slides-container
  {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;

    .slides
    {
      position: absolute;
      top: 0;
      will-change: transform;
      transform: translateX(100vw);
      transition: 0.5s;
      width: 100vw;
      height: 100%;
    }

    .slides.slide-intro
    {
      .slide-content-container
      {
        height: 100%;
        width: 100%;
        position: relative;

        video
        {
          object-fit: cover;
          object-position: 50% 50%;
          min-width: 100%;
        }

        .text-content
        {
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          color: white;
          text-align: center;
          z-index: 10;

          .chapter-number
          {
            width: 70px;
            height: 70px;
            background: $yellow-pale;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
            color: black;
            font-family: $secondary-font;
            font-size: 25px;
            display: inline-block;
            z-index: 10;
            margin-top: 130px;
          }

          .chapter-title
          {
            font-family: $secondary-font;
            font-size: 40px;
            color: $yellow-pale;
            width: 50%;
            margin: auto;
            line-height: 45px;
            margin-top: 70px;
          }

          .separator
          {
            background: white;
            width: 150px;
            height: 2px;
            margin: auto;
            margin-top: 40px;
          }

          .text-introduction
          {
            font-size: 18px;
            font-family: $main-font;
            width: 50%;
            margin: auto;
            line-height: 25px;
            margin-top: 40px;
          }
        }
        .black-background
        {
          background: rgba(0, 0, 0, 0.8);
          width: 100vw;
          height: 100vh;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
        }

        @media screen and (max-width: 768px)
        {
          .text-content
          {
            .chapter-title
            {
              font-size: 30px;
              line-height: 34px;
              margin-top: 40px;
              width: 80%;
            }

            .text-introduction
            {
              font-size: 14px;
              line-height: 20px;
              width: 80%;
            }
          }
        }
      }
    }

    .slides.slide-def
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;

        .text-content
        {
          position: absolute;
          top: 0;
          left: 12vw;
          top: 20vh;
          width: 38vw;
          color: white;
          text-align: left;
          z-index: 10;

          .part-name
          {
            font-size: $basic-size;
            font-family: $main-font;
            font-weight: 700;
          }

          .text-separator
          {
            background: white;
            width: 100px;
            height: 2px;
            position: absolute;
            margin-top: 18px;
          }

          .main-text
          {
            font-size: $hero-size;
            font-family: $secondary-font;
            color: $yellow-pale;
            line-height: 60px;
            margin-top: 50px;
          }

          .text-description
          {
            font-weight: 300;
            line-height: 35px;
            margin-top: 113px;
            opacity: 0.8;
          }
        }

        .picture-content
        {
          margin-top: 30px;
          position: absolute;
          left: 65vw;
          width: 40vw;
          top: 50%;
          transform: translateY(-50%);

          img
          {
            width: 385px;
          }
        }
      }
    }

    .slides.slide-video
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;

        .video-content{

          video{
            position: absolute;
            top: -100px;
          }
        }

        .video-controller{
          position: absolute;
          bottom: 7%;
          left: 16%;
          background-color: #000000;
          opacity: 0.9;
          height: 50px;
          display: flex;
          width: 70%;
          align-items: center;

          button{
            background-color: none;
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
            width: 11%;

            img{
              width: 18px;
              height: 18px;
            }
          }

          .duration-controller{
            position: relative;
            height: 100%;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;

            .duration-controller-bar{
              background-color: #fefefe;
              opacity: 0.4;
              width: 80%;
              height: 5px;
            }

            .duration-controller-seek{
              position: absolute;
              background-color: #fefefe;
              opacity: 0.9;
              width: 80%;
              height: 5px;
              transform: scale(0);
              transform-origin: left;
              will-change: transform;
              transition: 0.1s;
            }
          }
          span{
            color: #FEFEFE;
          }
        }

        .video-title{
          position: relative;
          color: #fefefe;

          h2{
            position: absolute;
            right: 6%;
          }

          h3{
            position: absolute;
            right: 6%;
            margin-top: 5%;
          }
        }
      }
    }

    .slides.slide-chiffres
    {
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
      }

      .picture-content
      {
        width: 550px;
        position: absolute;
        left: 8vw;
        top: 15vh;

        .picture
        {
          position: relative;
          display: inline-block;
          margin: 20px;

          .hover-box
          {
            position: absolute;
            opacity: 0;
            width: 225px;
            height: 225px;
            text-align: center;
            transition: opacity 0.2s;
            transition-timing-function: cubic-bezier(.29, .01, .27, .99);
            cursor: default;

            .circle
            {
              position: absolute;
              border: 2px solid $yellow;
              border-radius: 1000px;
              width: 150px;
              height: 150px;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);

              p
              {
                display: inline-block;
                font-size: 20px;
                text-transform: uppercase;
                margin-top: 64px;
              }
            }

            &:hover
            {
              background-color: rgba(0, 0, 0, 0.5);
              opacity: 1;
            }
          }

          img
          {
            width: 225px;
          }
        }
      }

      .text-content {
        position: absolute;
        width: 600px;
        left: 50vw;
        top: 23vh;

          .main-text
          {
            font-size: $hero-size;
            font-family: $secondary-font;
            color: $yellow-pale;
            line-height: 60px;
          }

          .text-description
          {
            font-weight: 300;
            line-height: 35px;
            margin-top: 73px;
            opacity: 0.8;
          }
      }
    }

    .slides.slide-5{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: lime;
      }
    }

    .slides.slide-6{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: grey;
      }
    }

    .slides.slide-7{
      .slide-content-container
      {
        width: 100%;
        height: 100%;
        background-color: green;
      }
    }
  }

  .slides-container[data-slide="0"]
  {
    .slides:nth-child(1){transform: translateX(0px);}
    .slides:nth-child(2){transform: translateX(100vw);}
  }
  .slides-container[data-slide="1"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(0px);}
  }
  .slides-container[data-slide="2"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(0px);}
  }
  .slides-container[data-slide="3"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(0px);}
  }
  .slides-container[data-slide="4"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(0px);}
  }
  .slides-container[data-slide="5"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(-100vw);}
    .slides:nth-child(6){transform: translateX(0px);}
  }
  .slides-container[data-slide="6"]
  {
    .slides:nth-child(1){transform: translateX(-100vw);}
    .slides:nth-child(2){transform: translateX(-100vw);}
    .slides:nth-child(3){transform: translateX(-100vw);}
    .slides:nth-child(4){transform: translateX(-100vw);}
    .slides:nth-child(5){transform: translateX(-100vw);}
    .slides:nth-child(6){transform: translateX(-100vw);}
    .slides:nth-child(7){transform: translateX(0px);}
  }
}

footer{
  height: 10%;
  z-index: 2;
  position: relative;
  display: flex;
  background-color: white;

  .footer-title
  {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;

    h2
    {
      color: #8B8B8B;
      font-size: 14px;
      margin: 0;
    }

    h2.part
    {
      color: black;
      font-size: 18px;
    }
  }

  .footer-links
  {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;

    .footer-links-container{
      display: flex;
      flex-direction: row;

      .footer-link{
        display: inline-flex;
        border-radius: 50%;
        transform: scale(0.8);
        border: 3px solid black;
        transition: 0.5s;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        cursor: pointer;

        .footer-link-inner{
          background-color: black;
          width: 8px;
          height: 8px;
          transform: scaleX(0);
          border-radius: 50%;
          margin-left: 1px;
        }
      }
    }
  }

  .footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  }
}

.footer-links-container[data-slide="0"]
{
  .footer-link:nth-child(1){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="1"]
{
  .footer-link:nth-child(2){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="2"]
{
  .footer-link:nth-child(3){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="3"]
{
  .footer-link:nth-child(4){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="4"]
{
  .footer-link:nth-child(5){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="5"]
{
  .footer-link:nth-child(6){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}
.footer-links-container[data-slide="6"]
{
  .footer-link:nth-child(7){transform: scale(1); .footer-link-inner{transform: scale(1);} }
}

body{
  background-color: black;
}
