.background{
  background-color: rgb(222, 145, 74);
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.5s linear;
  will-change: transform;
}
.background.appears{
  transform: translateX(0);
}
